@layer components {
  .text-preset-1 {
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0;
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 64px;
    }
  }

  .text-preset-2 {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 40px;
    }
  }

  .text-preset-3 {
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 4px;
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  .text-preset-4 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 500;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }

  .text-preset-5 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 900;
  }
}
