@layer components {
  .text-preset-1 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 600;
  }

  .text-preset-2 {
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .text-preset-3 {
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .text-preset-4 {
    font-size: 11px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
  }
}
