@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


body {
    background: var(--b-h-b);
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    max-width: 375px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

div {
    
    width: 340px;
    height: 430px;
}

.orange-box {
    border-radius: 10px 10px 0 0;
    background: hsl(31, 77%, 52%);
}

.blue-box {
    background: hsl(184, 100%, 22%);
}

.green-box {
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.content {
    padding: 40px 40px 0 40px;
    width: 250px;
    height: 300px;
}

.content h1 {
    padding-bottom: 30px;
}

.content h2 {
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 2.5em;
}

.content p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}

input {
    margin-top: 30px;

    width: 130px;
    height: 40px;

    border-radius: 20px;
    border: none;
}

.btn-orange {
    color: hsl(31, 77%, 52%);
}

.btn-blue {
    color: hsl(184, 100%, 22%);
}

.btn-green {
    color: hsl(179, 100%, 13%);
}

footer p {
    text-align: center;
    margin: 10px 0;

    font-family: 'Lexend Deca', sans-serif;
}

footer a {
    text-decoration: none;
    color: hsl(184, 100%, 22%);
}